<%= link_to admin_dashboard_path, class: 'btn btn-outline-secondary btn-sm d-flex align-items-center' , data: {bs_toggle: 'tooltip' }, title: 'Voltar para Dashboard' do %>
    <i class="fas fa-arrow-left me-2"></i>
    <span class="d-none d-sm-inline">Voltar ao Dashboard</span>
<% end %>