
<!--Contact Section-->
<section id="contact" class="py-5 bg-dark text-white">
    <div class="container">
        <h2 class="text-center mb-5">Fale Conosco</h2>
        <div class="row gx-5">
            <div class="col-md-6 d-flex">
                <div class="info-box text-white w-100">
                    <h5><i class="fas fa-map-marker-alt me-2"></i> Endereço</h5>
                    <p></i>Rua das Flores, 123 - Jardim Imperial <br>São Paulo - SP</p>

                    <h5><i class="fas fa-phone-alt me-2"></i> Telefone</h5>
                    <p>(11) 99999-9999</p>

                    <h5><i class="fas fa-clock me-2"></i> Horário de Funcionamento</h5>
                    <p>Segunda a Sábado: 9h às 19h </p>

                    <a href="https://wa.me/552199999999?text=Olá,+gostaria+de+agendar+um+horário+no+salão."
                        class="btn btn-success btn-lg" target="_blank">
                        <i class="fab fa-whatsapp me-2"></i>Agendar pelo WhatsApp
                    </a>

                </div>

            </div>

            <div class="col-md-6 d-flex">
                <div class="ratio ratio-4x3 shadow rounded w-100">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3004.6984053379556!2d-46.58515212797063!3d-23.144866400183307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cec176c2f5e0fb%3A0xaa0b62cc0ce7d896!2sR.%20das%20Fl%C3%B4res%2C%20123%20-%20Jardim%20Imperial%2C%20Atibaia%20-%20SP%2C%2012950-170!5e1!3m2!1spt-BR!2sbr!4v1745503962541!5m2!1spt-BR!2sbr"
                        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>