

        <!-- Cards-->    
        <div class="container-fluid py-4 px-4">            
            <div class="row g-4">
                <div class="col-md-6 col-xl-6">
                   <div class="card text-white bg-success shadow rounded-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-calendar-check me-2"></i> Meus agendamentos</h5>
                            <p class="card-text fs-4">0</p>     
                            
                        </div>  
                   </div>
                </div>
                
                <div class="col-md-6 col-xl-6">
                   <div class="card text-white bg-info shadow rounded-3">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fas fa-cut me-2"></i>Servicos disponíveis</h5>
                            <p class="card-text fs-4">0</p>     
                            
                        </div>  
                   </div>
                </div>

               