

        <!-- Gráficos-->
        <div class="mt-5">
            <h4 class="mb-3">Agendamentos por dia</h4>
            <%= line_chart @appointments_by_day, height: '300px', library: {backgroundColor: 'transparent'} %>
        </div>