#wrapper{
    display: flex;
    min-height: 100vh;
    transition: all 0.3s ease;
}

#sidebar-wrapper{
    width: 250px;
    min-height: 100vh;    
    background-color: #343a40;
    position: fixed;
    z-index: 1000;
    margin-left: 0;
    transition: margin 0.3s ease;
}

#wrapper.toggled #sidebar-wrapper{
    margin-left: -250px;
}

#wrapper.toggled #page-content-wrapper {
    margin-left: 0px;
}

#menu-toggle{
    position: relative;   
    z-index: 1100;

    i{
      transition: all;
    }
}

.sidebar-heading{
    background: #212519;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-link{    
    transition: background0.3s, padding-left 0.3s;
}

.sidebar-link:hover{
    background: #495057;
    padding-left: 1.5rem;
    color: #fff;
}

.dashboard-logo{
    max-width: 80px;
    border-radius: 50%;
}

#page-content-wrapper{
    width: 100%;
    transition: margin 0.3s ease;
    padding: 20px;
    margin-left: 250px;
    background-color: #f8f9fa;   
}

.navbar .navbar-brand{
    font-weight: 600;
    font-size: 1.5rem;
}

.card-title{
    font-size: 1.1rem;
    
}

.card{
    transition: transform 0.2s ease, box-shadow 0.2s ease
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

/* Mobile: sidebar colapsado */
@media (max-width: 768px) {
  #wrapper {    
    overflow-x: hidden;
  }  

  #sidebar-wrapper {
    margin-left: -250px;    
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    margin-left: 0;
    width: 100%;
  }

  #wrapper.toggled #page-content-wrapper {
    margin-left: 0;
  }

  #menu-toggle.toggled {
    position: fixed;
    top: 10px;
    left: 10px;
    background: #343a40;
    color : #fff;
    border-radius: 50%;
    padding: 10px;
    z-index: 1100;    
  }

  
}
